name: .NET

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      semVer: ${{ steps.gitversion.outputs.semVer }}
      nugetVerV2: ${{ steps.gitverion.outputs.nuGetVersionV2 }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.9
      with:
        versionSpec: '5.x.x'
    - name: Determine Version
      id: gv
      uses: gittools/actions/gitversion/execute@v0.9.9
      with:
        useConfigFile: true
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -c release -p:Version=${{ steps.gv.outputs.semVer }}
    - name: Test
      run: dotnet test --no-build -c release --verbosity normal
    - name: Pack
      run: dotnet pack --no-build -c release --verbosity normal -p:PackageVersion=${{ steps.gv.outputs.nuGetVersionV2 }}
    - name: Upload to feed
      uses: actions/upload-artifact@v2
      with:
        name: phu.Inquirer.cs
        path: /home/runner/work/Inquirer.cs/Inquirer.cs/src/Inquirer/bin/Release/phu.Inquirer.cs.${{ steps.gv.outputs.nuGetVersionV2 }}.nupkg
